<!DOCTYPE html>
<html>
<head>
    <title>Hartford Materials - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/all.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.main.js")" type="text/javascript"></script>
    <!--[if lt IE 8]><link href="@Url.Content("~/Content/css/ie.css")" media="screen"/><![endif]-->    
</head>
<body>
<div id="wrapper">
	<div class="w1">
		<div id="header">
			<div class="holder">
				<h1 class="logo">@Html.ActionLink("Home", "Index", "Home")</h1>
				<strong class="logo-1">@Html.ActionLink("Home", "Index", "Home")</strong>
				<div class="header-right">
					<ul class="contact">
						<li>@Html.ActionLink("Contact Us", "ContactUs", "Home")</li>
						<li>@Html.ActionLink("Directions", "Directions", "Home")</li>
					</ul>
					<ul id="nav">
						<li><a href="/Home/Services"><span>Services</span></a></li>
						<li class="active"><a href="#"><span>Paving Products</span></a></li>
						<li><a href="/Home/Finished"><span>Finished Work</span></a></li>
						<li><a href="/Home/Equipment"><span>Equipment Rental/Sales</span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="main">
				<div class="section">
					<h2>PAVING PRODUCTS</h2>
					<div class="information"> <span>For more information call:</span> <span class="phone">401.942.8857</span> </div>
					</div>
					<div class="two-columns inner">
						<div id="content">
							<div class="content-top">
								<div class="content-btm">
									<div class="inner-content">
										<div class="left">
											<ul class="accordion">
												<li><a href="#" class="opener">Pavers</a>
												<ul class="slide">
														<li><a href="/Home/PaversBlueRidgePenn">Blue Ridge Penn. Blue Blend</a></li>																												
														<li><a href="/Home/PaversColonialCob">Colonial Cob 4pc Adobe Blend</a></li>
                                                        <li><a href="/Home/PaversHollandstone">Hollandstone Golden Brown</a></li>
                                                        <li><a href="/Home/PaversOldeTonneOyster">Olde Tonne Oyster</a></li>
                                                        <li><a href="/Home/PaversProvincialsLimestone">Provincials Limestone</a></li>
                                                        <li><a href="/Home/PaversRustico">Rustico 6x9, 6x6</a></li>
                                                        <li><a href="/Home/PaversStoneRidgeOyster">Stone Ridge Oyster</a></li>
                                                        <li><a href="/Home/PaversTumbledCountry">Tumbled Country 4pc Bayberry</a></li>
                                                        <li><a href="/Home/PaversTumbledVillageBayberry">Tumbled Village Bayberry</a></li>
                                                        <li><a href="/Home/PaversCirclePacks">Circle Packs</a></li>														
													</ul>
												</li>
												<li><a href="#" class="opener">Wall Systems</a>
												<ul class="slide">
														<li><a href="#">Alta</a></li>																												
														<li><a href="/Home/WallSystemsColonialOyster">Colonial Oyster</a></li>
                                                        <li><a href="/Home/WallSystemFirmaCrabOrchard">Firma Crab Orchard</a></li>
                                                        <li><a href="/Home/WallSystemsFirmaJR">Firma, JR. G/C</a></li>
                                                        <li><a href="/Home/WallSystemsMiniColonialOyster">Mini Colonial Oyster blend</a></li>
                                                        <li><a href="/Home/WallSystemsSerafinaFireIsland">Serafina Fire Island</a></li>
                                                        <li><a href="/Home/WallSystemsSierraAdobeblend">Sierra Adobe blend</a></li>
                                                        <li><a href="#">Trinity</a></li>												
													</ul>
												</li>
												<li><a href="#" class="opener">Manufactured Stone</a>
												<ul class="slide">
														<li><a href="/Home/ManufacturedHeritageStone">Heritage Stone</a></li>													
													</ul>
												</li>
												<li><a href="#" class="opener">Thin Veneer Stone</a>
												<ul class="slide">
														<li><a href="/Home/ThinVeneer">Thin Veneer</a></li>																										
													</ul>
												</li>
                                                <li><a href="#" class="opener">Bluestone</a>
												<ul class="slide">
														<li><a href="/Home/BluestoneFullColor">Full Color Natural Claft</a></li>																												
														<li><a href="/Home/BluestoneBlueThermal">Blue Thermal</a></li>
                                                        <li><a href="/Home/BluestoneRadius">Radius, Treads, Rockfaled</a></li>													
													</ul>
												</li>
                                                <li><a href="#" class="opener">Wallstone</a>
												<ul class="slide">
														<li><a href="/Home/WallstoneColonial">Colonial Wallstone</a></li>																												
														<li><a href="/Home/WallstonePA">PA Fieldstone</a></li>
                                                        <li><a href="/Home/WallstoneWestMountain">West Mountain</a></li>
                                                        <li><a href="/Home/WallstoneWestMountainWallstone">West Mountain Wallstone</a></li>
                                                        <li><a href="/Home/WallstoneConnTanWallstone">Conn. Tan Wallstone</a></li>												
													</ul>
												</li>
                                                <li><a href="#" class="opener">Other Stone</a>
												<ul class="slide">
														<li><a href="/Home/OtherTravertine">Travertine</a></li>																												
														<li><a href="/Home/OtherGraniteSteps">Granite Steps</a></li>
                                                        <li><a href="/Home/OtherBrownstone">Brownstone</a></li>
                                                        <li><a href="/Home/OtherCobblestone">Cobblestone</a></li>																
													</ul>
												</li>												
											</ul>
										</div>
										<div class="right">
										@RenderBody()
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="sidebar">
						<div class="sidebar-top">
						<div class="sidebar-btm">
						<h3>Finished Work Feature</h3>
						<img src="/Content/images/PavingProducts/Travertine-FeaturesFinish.jpg" alt="image" width="200" />
						<p><strong>The following luxury outdoor living area</strong> features an impressive natural waterfall. The patios feature Tennessee Crab Orchard, and Travertine Stone.</p>
                        <p>We offer all the products by <strong>Nicolock</strong>.  Please click on the logo for more product offerings</p>
                        <a href="http://www.nicolock.com" target="_blank"> <img src="/Content/images/nicolock_newlogo2wide.jpg" /></a>
                        <!--<a href="#" class="learnmore">LEARN MORE</a>-->
						</div>
						</div>
						</div>
					</div>
			</div>
		</div>
	</div>
<div id="footer">
	<div class="holder">
		<div class="footer-left"><address>
		<span class="road">112 Old Pocasset Road</span><span>Johnston, RI 02919</span><span>Phone: 401.942.8857</span><span>Fax: 401.946.4144</span> 
		</address>
		<span class="copyright">© @(System.DateTime.Now.Year) Hartford Materials. All Rights Reserved.</span></div>
		<div class="social-network"> <span class="follow-us">Follow Us</span>
			<ul>
				<li><a href="#" class="twitter">twitter</a></li>
				<li><a href="#" class="youtube">you tube</a></li>
				<li><a href="#" class="facebook">facebook</a></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>